Rilasci/Baseline4_07052013/WSDL/WSCancellaAccount.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://cancellaaccount.gruppogiallo.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cancellaaccount.gruppogiallo.it">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cancellaaccount.gruppogiallo.it">
            <xs:element name="deleteAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggedAccountUsername" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loggedAccountPassword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteAccountRequest">
        <wsdl:part name="parameters" element="ns:deleteAccount"/>
    </wsdl:message>
    <wsdl:message name="deleteAccountResponse">
        <wsdl:part name="parameters" element="ns:deleteAccountResponse"/>
    </wsdl:message>
    <wsdl:portType name="WSCancellaAccountPortType">
        <wsdl:operation name="deleteAccount">
            <wsdl:input message="ns:deleteAccountRequest" wsaw:Action="urn:deleteAccount"/>
            <wsdl:output message="ns:deleteAccountResponse" wsaw:Action="urn:deleteAccountResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSCancellaAccountSoap11Binding" type="ns:WSCancellaAccountPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteAccount">
            <soap:operation soapAction="urn:deleteAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSCancellaAccountSoap12Binding" type="ns:WSCancellaAccountPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteAccount">
            <soap12:operation soapAction="urn:deleteAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSCancellaAccountHttpBinding" type="ns:WSCancellaAccountPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="deleteAccount">
            <http:operation location="deleteAccount"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSCancellaAccount">
        <wsdl:port name="WSCancellaAccountHttpSoap11Endpoint" binding="ns:WSCancellaAccountSoap11Binding">
            <soap:address location="http://localhost:8080/BusinessLogic/services/WSCancellaAccount.WSCancellaAccountHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSCancellaAccountHttpSoap12Endpoint" binding="ns:WSCancellaAccountSoap12Binding">
            <soap12:address location="http://localhost:8080/BusinessLogic/services/WSCancellaAccount.WSCancellaAccountHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSCancellaAccountHttpEndpoint" binding="ns:WSCancellaAccountHttpBinding">
            <http:address location="http://localhost:8080/BusinessLogic/services/WSCancellaAccount.WSCancellaAccountHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
