Rilasci/Baseline4_07052013/WSDL/WSSbloccaNotizie.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://sbloccanotizie.gruppogiallo.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sbloccanotizie.gruppogiallo.it">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sbloccanotizie.gruppogiallo.it">
            <xs:element name="sbloccaNotizie">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggedAccountUsername" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loggedAccountPassword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sbloccaNotizieResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sbloccaNotizieRequest">
        <wsdl:part name="parameters" element="ns:sbloccaNotizie"/>
    </wsdl:message>
    <wsdl:message name="sbloccaNotizieResponse">
        <wsdl:part name="parameters" element="ns:sbloccaNotizieResponse"/>
    </wsdl:message>
    <wsdl:portType name="WSSbloccaNotiziePortType">
        <wsdl:operation name="sbloccaNotizie">
            <wsdl:input message="ns:sbloccaNotizieRequest" wsaw:Action="urn:sbloccaNotizie"/>
            <wsdl:output message="ns:sbloccaNotizieResponse" wsaw:Action="urn:sbloccaNotizieResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSSbloccaNotizieSoap11Binding" type="ns:WSSbloccaNotiziePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sbloccaNotizie">
            <soap:operation soapAction="urn:sbloccaNotizie" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSSbloccaNotizieSoap12Binding" type="ns:WSSbloccaNotiziePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sbloccaNotizie">
            <soap12:operation soapAction="urn:sbloccaNotizie" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSSbloccaNotizieHttpBinding" type="ns:WSSbloccaNotiziePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="sbloccaNotizie">
            <http:operation location="sbloccaNotizie"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSSbloccaNotizie">
        <wsdl:port name="WSSbloccaNotizieHttpSoap11Endpoint" binding="ns:WSSbloccaNotizieSoap11Binding">
            <soap:address location="http://localhost:8080/BusinessLogic/services/WSSbloccaNotizie.WSSbloccaNotizieHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSSbloccaNotizieHttpSoap12Endpoint" binding="ns:WSSbloccaNotizieSoap12Binding">
            <soap12:address location="http://localhost:8080/BusinessLogic/services/WSSbloccaNotizie.WSSbloccaNotizieHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSSbloccaNotizieHttpEndpoint" binding="ns:WSSbloccaNotizieHttpBinding">
            <http:address location="http://localhost:8080/BusinessLogic/services/WSSbloccaNotizie.WSSbloccaNotizieHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
