Rilasci/Baseline2_22042013/WSDL/WSAnnullaModificaNotizia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://annullamodificanotizia.gruppogiallo.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://annullamodificanotizia.gruppogiallo.it">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://annullamodificanotizia.gruppogiallo.it">
            <xs:element name="annullaModificaNotizia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggedAccountUsername" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loggedAccountPassword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="id" type="xs:long"/>
                        <xs:element minOccurs="0" name="siglaGiornalista" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="annullaModificaNotiziaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="annullaModificaNotiziaRequest">
        <wsdl:part name="parameters" element="ns:annullaModificaNotizia"/>
    </wsdl:message>
    <wsdl:message name="annullaModificaNotiziaResponse">
        <wsdl:part name="parameters" element="ns:annullaModificaNotiziaResponse"/>
    </wsdl:message>
    <wsdl:portType name="WSAnnullaModificaNotiziaPortType">
        <wsdl:operation name="annullaModificaNotizia">
            <wsdl:input message="ns:annullaModificaNotiziaRequest" wsaw:Action="urn:annullaModificaNotizia"/>
            <wsdl:output message="ns:annullaModificaNotiziaResponse" wsaw:Action="urn:annullaModificaNotiziaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSAnnullaModificaNotiziaSoap11Binding" type="ns:WSAnnullaModificaNotiziaPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="annullaModificaNotizia">
            <soap:operation soapAction="urn:annullaModificaNotizia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSAnnullaModificaNotiziaSoap12Binding" type="ns:WSAnnullaModificaNotiziaPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="annullaModificaNotizia">
            <soap12:operation soapAction="urn:annullaModificaNotizia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSAnnullaModificaNotiziaHttpBinding" type="ns:WSAnnullaModificaNotiziaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="annullaModificaNotizia">
            <http:operation location="annullaModificaNotizia"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSAnnullaModificaNotizia">
        <wsdl:port name="WSAnnullaModificaNotiziaHttpSoap11Endpoint" binding="ns:WSAnnullaModificaNotiziaSoap11Binding">
            <soap:address location="http://localhost:8080/BusinessLogic/services/WSAnnullaModificaNotizia.WSAnnullaModificaNotiziaHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSAnnullaModificaNotiziaHttpSoap12Endpoint" binding="ns:WSAnnullaModificaNotiziaSoap12Binding">
            <soap12:address location="http://localhost:8080/BusinessLogic/services/WSAnnullaModificaNotizia.WSAnnullaModificaNotiziaHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSAnnullaModificaNotiziaHttpEndpoint" binding="ns:WSAnnullaModificaNotiziaHttpBinding">
            <http:address location="http://localhost:8080/BusinessLogic/services/WSAnnullaModificaNotizia.WSAnnullaModificaNotiziaHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
