Rilasci/Baseline2_22042013/WSDL/WSVisualizzaNotizia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://entity.gruppogiallo.it/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://visualizzanotizia.gruppogiallo.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://visualizzanotizia.gruppogiallo.it">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax210="http://entity.gruppogiallo.it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://visualizzanotizia.gruppogiallo.it">
            <xs:import namespace="http://entity.gruppogiallo.it/xsd"/>
            <xs:element name="visualizzaNotizia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggedAccountUsername" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loggedAccountPassword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="visualizzaNotiziaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax29:Notizia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.gruppogiallo.it/xsd">
            <xs:complexType name="DTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Notizia">
                <xs:complexContent>
                    <xs:extension base="ax29:DTO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="autore" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="dataCreazione" nillable="true" type="xs:date"/>
                            <xs:element minOccurs="0" name="dataTrasmissione" nillable="true" type="xs:date"/>
                            <xs:element minOccurs="0" name="lockNotizia" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="lunghezzaTesto" type="xs:int"/>
                            <xs:element minOccurs="0" name="sottotitolo" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="testo" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="tipologiaNotizia" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="titolo" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="ultimoDigitatore" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="visualizzaNotiziaRequest">
        <wsdl:part name="parameters" element="ns:visualizzaNotizia"/>
    </wsdl:message>
    <wsdl:message name="visualizzaNotiziaResponse">
        <wsdl:part name="parameters" element="ns:visualizzaNotiziaResponse"/>
    </wsdl:message>
    <wsdl:portType name="WSVisualizzaNotiziaPortType">
        <wsdl:operation name="visualizzaNotizia">
            <wsdl:input message="ns:visualizzaNotiziaRequest" wsaw:Action="urn:visualizzaNotizia"/>
            <wsdl:output message="ns:visualizzaNotiziaResponse" wsaw:Action="urn:visualizzaNotiziaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSVisualizzaNotiziaSoap11Binding" type="ns:WSVisualizzaNotiziaPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="visualizzaNotizia">
            <soap:operation soapAction="urn:visualizzaNotizia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSVisualizzaNotiziaSoap12Binding" type="ns:WSVisualizzaNotiziaPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="visualizzaNotizia">
            <soap12:operation soapAction="urn:visualizzaNotizia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSVisualizzaNotiziaHttpBinding" type="ns:WSVisualizzaNotiziaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="visualizzaNotizia">
            <http:operation location="visualizzaNotizia"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSVisualizzaNotizia">
        <wsdl:port name="WSVisualizzaNotiziaHttpSoap11Endpoint" binding="ns:WSVisualizzaNotiziaSoap11Binding">
            <soap:address location="http://localhost:8080/BusinessLogic/services/WSVisualizzaNotizia.WSVisualizzaNotiziaHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSVisualizzaNotiziaHttpSoap12Endpoint" binding="ns:WSVisualizzaNotiziaSoap12Binding">
            <soap12:address location="http://localhost:8080/BusinessLogic/services/WSVisualizzaNotizia.WSVisualizzaNotiziaHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSVisualizzaNotiziaHttpEndpoint" binding="ns:WSVisualizzaNotiziaHttpBinding">
            <http:address location="http://localhost:8080/BusinessLogic/services/WSVisualizzaNotizia.WSVisualizzaNotiziaHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
