Rilasci/Baseline3_03052013/WSDL/WSCaricaFunzionalita.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://caricafunzionalita.gruppogiallo.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://entity.gruppogiallo.it/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://caricafunzionalita.gruppogiallo.it">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://entity.gruppogiallo.it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://caricafunzionalita.gruppogiallo.it">
            <xs:import namespace="http://entity.gruppogiallo.it/xsd"/>
            <xs:element name="carica">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="caricaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:Funzionalita"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.gruppogiallo.it/xsd">
            <xs:complexType name="DTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Funzionalita">
                <xs:complexContent>
                    <xs:extension base="ax21:DTO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="gruppo" nillable="true" type="ax21:Gruppo"/>
                            <xs:element minOccurs="0" name="nomeFunzionalita" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="siglaFunzionalita" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Gruppo">
                <xs:complexContent>
                    <xs:extension base="ax21:DTO">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="accounts" nillable="true" type="ax21:Account"/>
                            <xs:element minOccurs="0" name="nomeGruppo" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Account">
                <xs:complexContent>
                    <xs:extension base="ax21:DTO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="gruppi" nillable="true" type="ax21:Gruppo"/>
                            <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="siglaGiornalista" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="siglaRedazione" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="caricaRequest">
        <wsdl:part name="parameters" element="ns:carica"/>
    </wsdl:message>
    <wsdl:message name="caricaResponse">
        <wsdl:part name="parameters" element="ns:caricaResponse"/>
    </wsdl:message>
    <wsdl:portType name="WSCaricaFunzionalitaPortType">
        <wsdl:operation name="carica">
            <wsdl:input message="ns:caricaRequest" wsaw:Action="urn:carica"/>
            <wsdl:output message="ns:caricaResponse" wsaw:Action="urn:caricaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSCaricaFunzionalitaSoap11Binding" type="ns:WSCaricaFunzionalitaPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="carica">
            <soap:operation soapAction="urn:carica" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSCaricaFunzionalitaSoap12Binding" type="ns:WSCaricaFunzionalitaPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="carica">
            <soap12:operation soapAction="urn:carica" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSCaricaFunzionalitaHttpBinding" type="ns:WSCaricaFunzionalitaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="carica">
            <http:operation location="carica"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSCaricaFunzionalita">
        <wsdl:port name="WSCaricaFunzionalitaHttpSoap11Endpoint" binding="ns:WSCaricaFunzionalitaSoap11Binding">
            <soap:address location="http://localhost:8080/BusinessLogic/services/WSCaricaFunzionalita.WSCaricaFunzionalitaHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSCaricaFunzionalitaHttpSoap12Endpoint" binding="ns:WSCaricaFunzionalitaSoap12Binding">
            <soap12:address location="http://localhost:8080/BusinessLogic/services/WSCaricaFunzionalita.WSCaricaFunzionalitaHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSCaricaFunzionalitaHttpEndpoint" binding="ns:WSCaricaFunzionalitaHttpBinding">
            <http:address location="http://localhost:8080/BusinessLogic/services/WSCaricaFunzionalita.WSCaricaFunzionalitaHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
