Rilasci/Baseline3_03052013/WSDL/WSCreaAccount.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://creaaccount.gruppogiallo.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://creaaccount.gruppogiallo.it">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://creaaccount.gruppogiallo.it">
            <xs:element name="crea">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggedAccountUsername" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loggedAccountPassword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="siglaRedazione" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="siglaGiornalista" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="creaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="creaRequest">
        <wsdl:part name="parameters" element="ns:crea"/>
    </wsdl:message>
    <wsdl:message name="creaResponse">
        <wsdl:part name="parameters" element="ns:creaResponse"/>
    </wsdl:message>
    <wsdl:portType name="WSCreaAccountPortType">
        <wsdl:operation name="crea">
            <wsdl:input message="ns:creaRequest" wsaw:Action="urn:crea"/>
            <wsdl:output message="ns:creaResponse" wsaw:Action="urn:creaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSCreaAccountSoap11Binding" type="ns:WSCreaAccountPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="crea">
            <soap:operation soapAction="urn:crea" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSCreaAccountSoap12Binding" type="ns:WSCreaAccountPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="crea">
            <soap12:operation soapAction="urn:crea" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSCreaAccountHttpBinding" type="ns:WSCreaAccountPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="crea">
            <http:operation location="crea"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSCreaAccount">
        <wsdl:port name="WSCreaAccountHttpSoap11Endpoint" binding="ns:WSCreaAccountSoap11Binding">
            <soap:address location="http://localhost:8080/BusinessLogic/services/WSCreaAccount.WSCreaAccountHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSCreaAccountHttpSoap12Endpoint" binding="ns:WSCreaAccountSoap12Binding">
            <soap12:address location="http://localhost:8080/BusinessLogic/services/WSCreaAccount.WSCreaAccountHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSCreaAccountHttpEndpoint" binding="ns:WSCreaAccountHttpBinding">
            <http:address location="http://localhost:8080/BusinessLogic/services/WSCreaAccount.WSCreaAccountHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
