Rilasci/Baseline3_03052013/WSDL/WSModificaNotizia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://modificanotizia.gruppogiallo.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://entity.gruppogiallo.it/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://modificanotizia.gruppogiallo.it">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax26="http://entity.gruppogiallo.it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://modificanotizia.gruppogiallo.it">
            <xs:import namespace="http://entity.gruppogiallo.it/xsd"/>
            <xs:element name="modificaNotizia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggedAccountUsername" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loggedAccountPassword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modificaNotiziaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax25:Notizia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.gruppogiallo.it/xsd">
            <xs:complexType name="DTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Notizia">
                <xs:complexContent>
                    <xs:extension base="ax25:DTO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="autore" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="dataCreazione" nillable="true" type="xs:date"/>
                            <xs:element minOccurs="0" name="dataTrasmissione" nillable="true" type="xs:date"/>
                            <xs:element minOccurs="0" name="lockNotizia" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="lunghezzaTesto" type="xs:int"/>
                            <xs:element minOccurs="0" name="sottotitolo" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="testo" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="tipologiaNotizia" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="titolo" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="ultimoDigitatore" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="modificaNotiziaRequest">
        <wsdl:part name="parameters" element="ns:modificaNotizia"/>
    </wsdl:message>
    <wsdl:message name="modificaNotiziaResponse">
        <wsdl:part name="parameters" element="ns:modificaNotiziaResponse"/>
    </wsdl:message>
    <wsdl:portType name="WSModificaNotiziaPortType">
        <wsdl:operation name="modificaNotizia">
            <wsdl:input message="ns:modificaNotiziaRequest" wsaw:Action="urn:modificaNotizia"/>
            <wsdl:output message="ns:modificaNotiziaResponse" wsaw:Action="urn:modificaNotiziaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSModificaNotiziaSoap11Binding" type="ns:WSModificaNotiziaPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="modificaNotizia">
            <soap:operation soapAction="urn:modificaNotizia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSModificaNotiziaSoap12Binding" type="ns:WSModificaNotiziaPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="modificaNotizia">
            <soap12:operation soapAction="urn:modificaNotizia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSModificaNotiziaHttpBinding" type="ns:WSModificaNotiziaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="modificaNotizia">
            <http:operation location="modificaNotizia"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSModificaNotizia">
        <wsdl:port name="WSModificaNotiziaHttpSoap11Endpoint" binding="ns:WSModificaNotiziaSoap11Binding">
            <soap:address location="http://localhost:8080/BusinessLogic/services/WSModificaNotizia.WSModificaNotiziaHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSModificaNotiziaHttpSoap12Endpoint" binding="ns:WSModificaNotiziaSoap12Binding">
            <soap12:address location="http://localhost:8080/BusinessLogic/services/WSModificaNotizia.WSModificaNotiziaHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSModificaNotiziaHttpEndpoint" binding="ns:WSModificaNotiziaHttpBinding">
            <http:address location="http://localhost:8080/BusinessLogic/services/WSModificaNotizia.WSModificaNotiziaHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
