Rilasci/Baseline3_03052013/WSDL/WSVisualizzaSingoloAccount.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://visualizzasingoloaccount.gruppogiallo.it" xmlns:ax213="http://entity.gruppogiallo.it/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://visualizzasingoloaccount.gruppogiallo.it">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax214="http://entity.gruppogiallo.it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://visualizzasingoloaccount.gruppogiallo.it">
            <xs:import namespace="http://entity.gruppogiallo.it/xsd"/>
            <xs:element name="visualizza">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggedAccountUsername" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loggedAccountPassword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="visualizzaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax214:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.gruppogiallo.it/xsd">
            <xs:complexType name="DTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Account">
                <xs:complexContent>
                    <xs:extension base="ax213:DTO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="gruppi" nillable="true" type="ax213:Gruppo"/>
                            <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="siglaGiornalista" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="siglaRedazione" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Gruppo">
                <xs:complexContent>
                    <xs:extension base="ax213:DTO">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="accounts" nillable="true" type="ax213:Account"/>
                            <xs:element minOccurs="0" name="nomeGruppo" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="visualizzaRequest">
        <wsdl:part name="parameters" element="ns:visualizza"/>
    </wsdl:message>
    <wsdl:message name="visualizzaResponse">
        <wsdl:part name="parameters" element="ns:visualizzaResponse"/>
    </wsdl:message>
    <wsdl:portType name="WSVisualizzaSingoloAccountPortType">
        <wsdl:operation name="visualizza">
            <wsdl:input message="ns:visualizzaRequest" wsaw:Action="urn:visualizza"/>
            <wsdl:output message="ns:visualizzaResponse" wsaw:Action="urn:visualizzaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSVisualizzaSingoloAccountSoap11Binding" type="ns:WSVisualizzaSingoloAccountPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="visualizza">
            <soap:operation soapAction="urn:visualizza" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSVisualizzaSingoloAccountSoap12Binding" type="ns:WSVisualizzaSingoloAccountPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="visualizza">
            <soap12:operation soapAction="urn:visualizza" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSVisualizzaSingoloAccountHttpBinding" type="ns:WSVisualizzaSingoloAccountPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="visualizza">
            <http:operation location="visualizza"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSVisualizzaSingoloAccount">
        <wsdl:port name="WSVisualizzaSingoloAccountHttpSoap11Endpoint" binding="ns:WSVisualizzaSingoloAccountSoap11Binding">
            <soap:address location="http://localhost:8080/BusinessLogic/services/WSVisualizzaSingoloAccount.WSVisualizzaSingoloAccountHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSVisualizzaSingoloAccountHttpSoap12Endpoint" binding="ns:WSVisualizzaSingoloAccountSoap12Binding">
            <soap12:address location="http://localhost:8080/BusinessLogic/services/WSVisualizzaSingoloAccount.WSVisualizzaSingoloAccountHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSVisualizzaSingoloAccountHttpEndpoint" binding="ns:WSVisualizzaSingoloAccountHttpBinding">
            <http:address location="http://localhost:8080/BusinessLogic/services/WSVisualizzaSingoloAccount.WSVisualizzaSingoloAccountHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
