Rilasci/Baseline3_03052013/WSDL/WSVisualizzaAccount.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax27="http://entity.gruppogiallo.it/xsd" xmlns:ns="http://visualizzalistaaccount.gruppogiallo.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://visualizzalistaaccount.gruppogiallo.it">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax28="http://entity.gruppogiallo.it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://visualizzalistaaccount.gruppogiallo.it">
            <xs:import namespace="http://entity.gruppogiallo.it/xsd"/>
            <xs:element name="visualizzaAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loggedAccountUsername" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loggedAccountPassword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="visualizzaAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax27:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.gruppogiallo.it/xsd">
            <xs:complexType name="DTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Account">
                <xs:complexContent>
                    <xs:extension base="ax27:DTO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="gruppi" nillable="true" type="ax27:Gruppo"/>
                            <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="siglaGiornalista" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="siglaRedazione" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Gruppo">
                <xs:complexContent>
                    <xs:extension base="ax27:DTO">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="accounts" nillable="true" type="ax27:Account"/>
                            <xs:element minOccurs="0" name="nomeGruppo" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="visualizzaAccountRequest">
        <wsdl:part name="parameters" element="ns:visualizzaAccount"/>
    </wsdl:message>
    <wsdl:message name="visualizzaAccountResponse">
        <wsdl:part name="parameters" element="ns:visualizzaAccountResponse"/>
    </wsdl:message>
    <wsdl:portType name="WSVisualizzaAccountPortType">
        <wsdl:operation name="visualizzaAccount">
            <wsdl:input message="ns:visualizzaAccountRequest" wsaw:Action="urn:visualizzaAccount"/>
            <wsdl:output message="ns:visualizzaAccountResponse" wsaw:Action="urn:visualizzaAccountResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSVisualizzaAccountSoap11Binding" type="ns:WSVisualizzaAccountPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="visualizzaAccount">
            <soap:operation soapAction="urn:visualizzaAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSVisualizzaAccountSoap12Binding" type="ns:WSVisualizzaAccountPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="visualizzaAccount">
            <soap12:operation soapAction="urn:visualizzaAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSVisualizzaAccountHttpBinding" type="ns:WSVisualizzaAccountPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="visualizzaAccount">
            <http:operation location="visualizzaAccount"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSVisualizzaAccount">
        <wsdl:port name="WSVisualizzaAccountHttpSoap11Endpoint" binding="ns:WSVisualizzaAccountSoap11Binding">
            <soap:address location="http://localhost:8080/BusinessLogic/services/WSVisualizzaAccount.WSVisualizzaAccountHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSVisualizzaAccountHttpSoap12Endpoint" binding="ns:WSVisualizzaAccountSoap12Binding">
            <soap12:address location="http://localhost:8080/BusinessLogic/services/WSVisualizzaAccount.WSVisualizzaAccountHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSVisualizzaAccountHttpEndpoint" binding="ns:WSVisualizzaAccountHttpBinding">
            <http:address location="http://localhost:8080/BusinessLogic/services/WSVisualizzaAccount.WSVisualizzaAccountHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
